

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}
.App {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}
.heme{
  margin: 0px auto;
  width: 85%;
  background-color: rgb(54, 255, 14);
  border-radius: 27px;
  margin: 35px 0px;
  padding: 20px;
}
.heme>h1{
  text-align: center;
}
.sub{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(4, 255, 0);
  width: 90%;
  border-radius: 20px;
  padding: 25px;
}
.sub img{
  width: 100%;
  height: 300px;
}
.he{
  text-align: center;
  background-color: rgb(182, 189, 182);
  width: 100% !important;
}
.he button{
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.he span{
  font-weight: 700;
  font-size: x-large;
}
.lod{
  width: fit-content;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}
.bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  margin: 0px auto;
  margin-top: 14px;
}
.bar li{
  list-style-type: none;
  font-size: 24px;
}
@media screen and (max-width: 768px){
  .sub{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 255, 0);
    width: fit-content;
  }
  .he{
    text-align: center;
    background-color: rgb(182, 189, 182);
    width: 100% !important;
    margin-bottom: 14px;
  }
}